<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Course Report Recipient</title>
  </head>
  <body>
    <div
      style="
        align-items: center;
        height: auto;
        padding-top: 20px;
        padding-left: 100px;
        margin-top: 100px;
      "
    >
      <h1> Course Report Recipient</h1>
      <nav
        class="navbar"
        style="
          width: 83%;
          height: 50px;
          align-items: center;
          overflow: hidden;
          background-color: skyblue;
        "
      >
        <a class="navbar-brand"> Course Report Recipient</a>
        <form style="float: right" class="form-inline">
          <button>submit</button>
          <!-- <ion-icon name="close-outline"></ion-icon> -->
        </form>
      </nav>
      <button
        style="
          float: right;
          margin-right: 210px;
          margin-top: 20px;
          background-color: royalblue;
          color: white;
          border-radius: 5px;
          border: none;
          padding: 8px 20px;
          text-align: center;
        "
        type="b"
        class="button"
      >
        Back
      </button>

      <!-- Name Section -->
      <form class="relo">
        <div
          style="align-items: center; text-decoration: none; margin-top: 40px"
        >
          <label type="lab" for="name">First Name* </label>
          <input type="text" name="client" required />
        </div>

        <!-- Last Name -->
        <div style="align-items: center; text-decoration: none">
          <label type="lab" for="name">Last Name* </label>
          <input type="textt" name="client" required />
        </div>

        <div style="align-items: center; text-decoration: none">
          <label type="lab" for="name"> Email Domain* </label>
          <input type="email" id="client" name="client" />
        </div>

        <hr />

        <button style="margin-right: 180px;" type="bn" class="button">Cancel</button>

        <button type="bn" class="button">Add Image</button>
      </form>
    </div>
  </body>
</html>
